body{
    font-family: 'Open Sans' , sans-serif;
    background-color: black;
}
@media screen and (max-width: 992px) {
    body {
      display: flex;
    }
  }
  
@media screen and (max-width: 600px) {
    body {
      display: flex;
    }
  }
  
#container{
    width: 1000px;
    height: 100vh;
    background-size: cover;
    background-image: url("./images/unnamed.jpg");
    /* margin-top: 10px;
    margin-bottom: 10px; */
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgb(41, 69, 88);
}
@media screen and (max-width: 992px) {
    #container {
      display: flex;
      
    }
  }
  
  @media screen and (max-width: 600px) {
    #container {
      display: flex;
      
    }
  }
  

#main{
    width: 320px ;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 white;
    
}

.head{
    text-align: left;
    height: 50px;
    /* margin:10px 10px ; */
    font-size: 30px;
    padding-top: 10px;
    color: rgb(95, 93, 93);
    padding-left: 10px;;
}
.result{
    border: 1px solid transparent;
    width: 95%;
    height: 60px;
    /* padding-left: 5px; */
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    text-align: right;
    /* padding-right: px; */
}
/* #keyboard{
    height: 400px;
    ;
} */
.btn{
    width: 50px;
    height: 50px;
    margin: 13px;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

}
button:nth-child(1){
	
	background-color: rgb(179, 174, 174);
}
button:nth-child(2){
	
	background-color: rgb(179, 174, 174);
}
button:nth-child(3){
	font-size: 20px;
	background-color: rgb(179, 174, 174);
}


button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}
button:focus{
    outline: 0;

}
#name{
    color:  #eaedef;
    background-color: #eaedef;
    
}